
/*---------------------------------------- MAIN NAV -----------------------------------*/

/* Horizontal nav bar */
    
.slide-toggle{
    display: none;
}
    
.slidemenu{
    font-family: 'Helvatica Neue medium';
    max-width: 30%;  
    margin-inline: auto;
    overflow: hidden;
}

.slidemenu label{
    width: 30%;
    text-align: center;
    display: block;
    float: left;   
    margin-inline: 1.6%; 
    color: #333;
    opacity: 0.2;
    cursor: pointer;
}

.slidemenu label:hover{
    color: #666;
    user-select: none;
}
    
/*Bar Style*/

.slider{
    width: 100%;
    height: 3.5px;
    display: block;
    background: transparent;
    margin-top: 7%;
    position: relative;    
}

.slider .bar{
    width: 20%;
    height: 3.5px;
    background: var(--color-primary);
}

.main-section2 hr {
    margin-top: 0;    
    margin-bottom: 3%;
    height: 1px;
    background-color: var(--color-lightgray);
    border: none;
}
    
/*Animations*/
.slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
  
.slidemenu .slide-toggle:checked + label{
    opacity: 1;
    color: var(--color-primary);
}  
  
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 6.7%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 39.5%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 73%; }

/*---------------------------------------- MAIN CONTENT -----------------------------------*/
.job-title {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.job-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.job-name h3 {
    font-family: 'Helvatica Neue Medium';
    color: var(--color-primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 32.16px;
}

.job-name p {
    font-family: 'Helvatica Neue light';
    font-size: 16px;
    line-height: 21.44px;
    font-weight: 300;
    color: #888;
}

.job-filter {
    display: flex;
    justify-content: end;
    flex: 1;
}

.job-filter button {
    font-family: 'Helvatica Neue Medium';
    display: flex;
    font-weight: 300;
    padding: 1.5% 4%;
    background-color: var(--color-lightgreen-1);
    color: var(--color-text);
    border-radius: 30px;
    border: 1px var(--color-lightgray) solid;
}

.job-filter button:hover {
    background-color: var(--color-lightgray);
    transition: all .2s ease-in-out;
}

.job-filter .filter-icon {
    margin-block: auto;
    margin-right: 10px;
}

.main-content {
    display: flex;
    align-items: start;
}

.list-content-container {
    flex: 1;
    padding-right: 3%;
}

.content-details {
    flex: 1;
}

.list-content {
    list-style: none;
}

.list-content li {
    font-family: 'Helvatica Neue Medium';
    padding: 2% 5%;
    border-bottom: .5px solid var(--color-lightgray);  
    cursor: pointer;
    z-index: 99;
}

.list-content li:hover {
    transform: translateX(5px);
    transition: all ease-in-out .2s;
}

.list-content .checked {
    border-left: 5px solid var(--color-primary);
}

.list-content li h3 {    
    font-size: 18px;
    font-weight: 500;
}

.list-content li p {
    font-size: 14px;
}

.ic-name-rating-like {
    display: flex;        
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}

.ic-name-rating-like .ic-like-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.ic-heart {
    cursor: pointer;
}

.ic-heart:hover {
    transform: scale(1.04);
    transition: all ease-in-out .2s;
}

.name-type-salary-date {
    display: flex;
}

.name-type-salary-date .name-type-salary {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.name-type-salary-date .name-type-salary h3 {
    font-family: 'Helvatica Neue Medium';
    font-size: 20px;
    font-weight: 500;
    margin-top: 2%;
}

.name-type-salary-date .name-type-salary p:first-of-type {
    font-size: 14;
    font-family: 'Helvatica Neue Light';
    font-weight: 300;
    color: #888; 
    margin-top: 2%;
}

.name-type-salary-date .name-type-salary p:not(first-of-type) {
    font-size: 16;
    font-family: 'Helvatica Neue Medium';
    font-weight: 500;
    color: var(--color-primary); 
    margin-top: 1%;
}

.name-type-salary-date .date {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex: 1;
    font-size: 14;
    font-family: 'Helvatica Neue Light';
    font-weight: 300;
    color: #888;    
}

/* .content-details {
    position: fixed;
    font-family: 'Helvatica Neue Medium';  
    margin-left: 2%;
    padding-right: 2%;
    max-width: 50%;
    max-height: 585px; 
    border-left: 1px solid var(--color-lightgray);  
    overflow-y: scroll;  
} */

.content-details::-webkit-scrollbar{
    width:8px;
}
.content-details::-webkit-scrollbar-thumb{
    background-color:var(--color-lightgray);
    border-radius: 30px;
}

.blur-dev {
    --mask: linear-gradient(to bottom, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 80%, 
        rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    
    -webkit-mask: var(--mask); 
    mask: var(--mask);
}


.content-details .content-title {
    display: flex;    
    align-items: center;  
    margin-left: 5%;
}

.content-details .content-title h3 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 2%;    
}

.content-details .content-title .btns .ic-report {
    cursor: pointer;
}

.content-details .content-title .btns .ic-report:hover {
    transform: scale(1.02);
    transition: all ease-in-out .2s;
}

.content-details .content-title ~ h3 {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
}

.content-details .content-title ~ p {
    font-size: 14;
    font-family: 'Helvatica Neue Light';
    font-weight: 400;
    color: #888;   
    margin-left: 5%;
}

.content-details .content-title ~ hr {
    border: none;
    height: 5px;
    background-color: var(--color-lightgray);
    margin-top: 12%;
    margin-bottom: 5%;
    margin-inline: 0;
}

.content-details .content-description {
    padding-inline: 4%;
    font-size: 14;
    font-family: 'Helvatica Neue Light';
    font-weight: 550;
    line-height: 1.5;
}
