/* resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
:root{
    /* colors */
    --color-primary: #4DD783;
    --color-lightgreen-1:#EBF0EB;
    --color-lightgreen-2:#E5F9ED;
    --color-text: #2A2A2A;
    --color-lightgray: #D9D9D9;
    --color-darkgray:#888888;
    --color-white:#ffffff;
    --color-bgColor:#F5F5F5;
    --color-error:#D43E3E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

@font-face {
    font-family: 'Helvatica Neue Light';
    src: url('/fonts/helvatica-neue/HelveticaNeueLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvatica Neue Medium';
    src: url('/fonts/helvatica-neue/HelveticaNeueMedium.ttf') format('truetype');
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Adjust the value based on your needs */
}

footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
}

.site-logo, 
a,
h1,
h2,
.number,
h3,
button{
    font-family: 'Helvatica Neue Medium';
}
p,
.error{
    font-family: 'Helvatica Neue Light';
}

.hero-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha channel to control the darkness */
    z-index: 0;
}
.hero-section-content{
    z-index: 1;
}

/*INPUT STYLE*/
.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
    width: 100%;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-family: 'Helvatica Neue Light';
}

.custom-field .placeholder {
    font-family: 'Helvatica Neue Light';
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 50%;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field.one input {
    background: none;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
    height: 50px;    
}

.custom-field.one input + .placeholder {
    left: 8px;
    padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: var(--color-primary);
    transition-delay: 0.1s;
    box-shadow: 0px 0px 0px 3px rgba(77, 215, 131, 0.20);
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
    top: 10px;
    font-size: 12px;
    color: var(--color-primary);
    background: transparent;
    width: auto
}

.custom-field.error,
.custom-field.error .placeholder,
.custom-field.one.error input:focus + .placeholder{
    color: var(--color-error);
}
.custom-field.one.error input:focus{
    box-shadow: 0px 0px 0px 3px #EFB9B9;
    border-color: var(--color-error);
}
.custom-field.error input {
    border-color: var(--color-error);
    transition-delay: 0.1s;
    box-shadow: 0px 0px 0px 3px #EFB9B9;
}

/*---------------------------------------- MAIN NAV -----------------------------------*/

/* Horizontal nav bar */
    
.slide-toggle{
    display: none;
}
    
.slidemenu{
    font-family: 'Helvatica Neue medium';
    max-width: 30%;  
    margin-inline: auto;
    overflow: hidden;
}

.slidemenu label{
    width: 30%;
    text-align: center;
    display: block;
    float: left;   
    margin-inline: 1.6%; 
    color: #333;
    opacity: 0.2;
    cursor: pointer;
}

.slidemenu label:hover{
    color: #666;
    user-select: none;
}
    
/*Bar Style*/

.slider{
    width: 100%;
    height: 3.5px;
    display: block;
    background: transparent;
    margin-top: 7%;
    position: relative;    
}

.slider .bar{
    width: 20%;
    height: 3.5px;
    background: var(--color-primary);
}

.main-section2 hr {
    margin-top: 0;    
    margin-bottom: 3%;
    height: 1px;
    background-color: var(--color-lightgray);
    border: none;
}
    
/*Animations*/
.slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
  
.slidemenu .slide-toggle:checked + label{
    opacity: 1;
    color: var(--color-primary);
}  
  
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 6.7%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 39.5%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 73%; }


/*Date input*/
.date-input::-webkit-calendar-picker-indicator {
    display: none;
}
.date-input{
    outline: none;
}

/*dropdown style*/
/* Style for the custom dropdown icon */
.custom-dropdown::after {
    content: '\f107'; /* Unicode for the Font Awesome arrow-down icon */
    font-family: 'Font Awesome 6 Free'; /* Font Awesome font family */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  /* Hide the default dropdown arrow */
  #myDropdown::-ms-expand {
    display: none;
  }
  #myDropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

