/* resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

@font-face {
    font-family: 'Helvatica Neue Light';
    src: url('/fonts/helvatica-neue/HelveticaNeueLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvatica Neue Medium';
    src: url('/fonts/helvatica-neue/HelveticaNeueMedium.ttf') format('truetype');
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Adjust the value based on your needs */
}

footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
}

.site-logo, a,h1,h2,.number,h3{
    font-family: 'Helvatica Neue Medium';
}
p{
    font-family: 'Helvatica Neue Light';
}

.hero-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha channel to control the darkness */
    z-index: 0;
}
.hero-section-content{
    z-index: 1;
}